html,
body {
  font-family: "SukhumvitSet-Text" !important;
  color: #000B33;
}

a {
  display: block;
  text-decoration: none !important;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}
ul li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "SukhumvitSet-Bold";
  src: url("../../assets/fonts/SukhumvitSet/SukhumvitSet-Bold.ttf");
}
@font-face {
  font-family: "SukhumvitSet-Medium";
  src: url("../../assets/fonts/SukhumvitSet/SukhumvitSet-Medium.ttf");
}
@font-face {
  font-family: "SukhumvitSet-Text";
  src: url("../../assets/fonts/SukhumvitSet/SukhumvitSet-Text.ttf");
}
.owl-carousel-banner {
  position: relative;
}
.owl-carousel-banner .owl-next, .owl-carousel-banner .owl-prev {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3) !important;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
}
.owl-carousel-banner .owl-next svg, .owl-carousel-banner .owl-prev svg {
  font-size: 20px;
}
.owl-carousel-banner .owl-next svg path, .owl-carousel-banner .owl-prev svg path {
  fill: #fff;
}
.owl-carousel-banner .owl-next:hover, .owl-carousel-banner .owl-prev:hover {
  background: rgba(0, 0, 0, 0.5) !important;
}
.owl-carousel-banner .owl-next {
  right: 20px;
}
.owl-carousel-banner .owl-prev {
  left: 20px;
}
.owl-carousel-banner .owl-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.owl-carousel-banner .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 5px;
  background-color: #ffffff;
}
.owl-carousel-banner .owl-dots .owl-dot.active {
  background-color: #e45e27;
}

.menu-icon {
  cursor: pointer;
  display: none;
  padding: 20px 0;
  margin-left: 20px;
  width: 30px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.menu-icon .navicon {
  background: #0066a1;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 28px;
}
.menu-icon .navicon::before, .menu-icon .navicon::after {
  background: #0066a1;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.menu-icon .navicon::before {
  top: 6px;
}
.menu-icon .navicon::after {
  top: -6px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay.show {
  display: block;
}

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #ffffff;
  padding: 15px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  transition: all 0.3s;
}
.header .wrap {
  align-items: center;
  justify-content: space-between;
}
.header .img-logo {
  width: 160px;
  transition: all 0.3s;
}
.header .menu-h-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .menu-h-list .menu-item.active .menu-link {
  color: #0066a1;
  font-family: "SukhumvitSet-Bold";
}
.header .menu-h-list .menu-item {
  margin: 0 10px;
}
.header .menu-h-list .menu-item .menu-link {
  color: #000;
  transition: all 0.3s;
  font-size: 18px;
}
.header .menu-h-list .menu-item .menu-link:hover {
  color: #0066a1;
}

.menu-m-list {
  position: fixed;
  width: 280px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 101;
  background-color: #0066a1;
  transform: translateX(280px);
  display: none;
  transition: all 0.3s;
  padding: 20px;
}
.menu-m-list .close {
  margin-left: auto;
}
.menu-m-list .close .navicon {
  background: transparent;
}
.menu-m-list .close .navicon::before, .menu-m-list .close .navicon::after {
  background: #ffffff;
  top: 0;
}
.menu-m-list .close .navicon::before {
  transform: rotate(-45deg);
}
.menu-m-list .close .navicon::after {
  transform: rotate(45deg);
}
.menu-m-list .menu {
  margin-top: 20px !important;
}
.menu-m-list .menu-item.active .menu-link {
  color: #ffffff;
  font-family: "SukhumvitSet-Bold";
}
.menu-m-list .menu-item {
  margin: 15px 0 !important;
}
.menu-m-list .menu-item .menu-link {
  color: #ffffff;
  transition: all 0.3s;
  font-size: 20px;
}
.menu-m-list .menu-item .menu-link:hover {
  color: #e45e27;
}
.menu-m-list .button-main {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-m-list.show {
  transform: translateX(0);
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.button-main {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  color: #fff;
  border-radius: 10px;
  transition: all 0.3s;
  font-size: 18px;
  font-family: "SukhumvitSet-Medium";
}
.button-main:hover {
  color: #fff;
}

.button-main.bgc-1:hover,
.button-main.bgc-8:hover {
  color: #fff;
  background: #e45e27;
}

.owl-carousel-pp1 .owl-item.active.center .card-box .foot .button-main.bgc-1:hover {
  color: #fff;
  background: #e45e27;
}

.owl-carousel-pp2 .owl-item.active.center .card-box .foot .button-main.bgc-1:hover {
  color: #fff;
  background: #0066a1;
}

button.button-main {
  border: none;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-fixed {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgc-1 {
  background: #0066a1;
}

.bgc-2 {
  background: #f6fcff;
}

.bgc-3 {
  background: #e45e27;
}

.bgc-4 {
  background: #cce0ec;
}

.bgc-5 {
  background: #004d7a;
}

.bgc-6 {
  background: #c8e018;
}

.bgc-7 {
  background-color: #295271;
}

.bgc-8 {
  background-color: #f2f2f2;
}

.c-dark {
  color: #19191b;
}

.c-blue {
  color: #0066a1;
}

.c-gray {
  color: #7e7e7e;
}

.c-white {
  color: #fff;
}

.c-green {
  color: #c8e018;
}

.c-lightblue {
  color: rgba(0, 102, 161, 0.7);
}

.c-light {
  color: rgba(255, 255, 255, 0.7);
}

.t-bold {
  font-family: "SukhumvitSet-Bold";
}

.t-medium {
  font-family: "SukhumvitSet-Medium";
}

.t-light {
  font-family: "SukhumvitSet-Text";
}

.box-cc.bgc-8 {
  background-color: #f2f2f2;
}

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 800px;
}
.banner .txt {
  width: 90%;
  position: absolute;
  top: 12%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.banner .img {
  width: 90%;
  max-width: 850px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.banner .bg-banner {
  animation-name: zoomm;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.carousel.slide .carousel-indicators {
  position: relative;
  margin-bottom: 0;
  z-index: 0;
  margin: 0;
  align-items: flex-start;
}
.carousel.slide .carousel-indicators button.active {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.carousel.slide .carousel-indicators button.active .box-icon {
  background-color: #c8e018;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.carousel.slide .carousel-indicators button.active .txt-icon {
  color: #0066a1;
  font-family: "SukhumvitSet-Bold";
}
.carousel.slide .carousel-indicators button.active:focus {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15) !important;
}
.carousel.slide .carousel-indicators button {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 16.66%;
  height: 130px;
  border-radius: 20px 20px 0 0;
  padding: 20px 5px 10px 5px;
  opacity: 1;
  text-indent: 0;
  border: none;
  margin: 0;
  background-color: transparent;
}
.carousel.slide .carousel-indicators button .box-icon {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #0066a1;
}
.carousel.slide .carousel-indicators button .txt-icon {
  width: 100%;
  margin-top: 0px;
  text-align: center;
  color: #2e2e2e;
}
.carousel.slide .card-box {
  border-radius: 0 0 20px 20px;
}
.carousel.slide .carousel-inner {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 20px 20px;
}
.carousel.slide button:focus {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15) !important;
}
.carousel.slide .carousel-control-prev,
.carousel.slide .carousel-control-next {
  width: 40px;
  height: 40px;
  position: absolute;
  color: #0066a1;
  z-index: 2;
  background: #fff;
  opacity: 1;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 100%;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
}
.carousel.slide .carousel-control-prev {
  left: -20px;
}
.carousel.slide .carousel-control-next {
  right: -20px;
}

.banner-vc {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.bg-banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-s {
  position: relative;
  width: 100%;
  height: 700px;
}
.banner-s .txt {
  width: 90%;
  max-width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.banner-ht {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 700px;
}
.banner-ht .txt {
  width: 90%;
  max-width: 600px;
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.banner-ht .img {
  width: 90%;
  max-width: 760px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.banner-ht .img-ma {
  width: 13%;
  max-width: 200px;
  transform: translate(-50%, -25%);
}
.banner-ht .button-main {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -80%);
  box-shadow: 0 4px 15px rgba(0, 102, 161, 0.21);
}

.banner-ct {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  background-position: right;
}
.banner-ct .txt {
  width: 100%;
  max-width: 600px;
}

.content {
  padding: 70px 0;
}

.content-abu {
  position: relative;
  padding: 70px 0;
}
.content-abu::before {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
  border-radius: 81px 0 0 0;
  transform: translate(0, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/bg-8.png");
}

.box-search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 31px 40px rgba(170, 170, 170, 0.15);
  border: 1px solid #cacaca;
}
.box-search .box-slt {
  width: calc(100% - 160px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.box-search .box-slt .box-inp {
  width: calc(100% - 110px);
  padding: 20px;
  border-right: 1px solid #eaeced;
}
.box-search .box-slt .box-inp input {
  width: 100%;
  border: none;
  background-color: transparent;
}
.box-search .box-slt .form-select {
  margin: 0 auto;
  width: 110px;
  border: none;
  background-color: transparent;
}
.box-search .button-main {
  width: 140px;
  margin: 10px auto;
}

.box-subscribe {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 31px 40px rgba(170, 170, 170, 0.15);
  border: 1px solid #cacaca;
}
.box-subscribe .box-slt {
  width: calc(100% - 160px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.box-subscribe .box-slt .box-inp {
  width: 100%;
  padding: 20px;
}
.box-subscribe .box-slt .box-inp input {
  width: 100%;
  border: none;
  background-color: transparent;
}
.box-subscribe .button-main {
  width: 140px;
  margin: 10px auto;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt-l {
  font-size: 60px;
  line-height: 1 !important;
}

.owl-carousel-pp1 .owl-item.active.center .card-box {
  background-color: #0066a1;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .head {
  color: #fff;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .head p {
  opacity: 0.7;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .body .list li {
  color: #fff;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .body .list li .icon svg path {
  fill: #fff;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .body .list li.dis {
  opacity: 0.7;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .body .list li.dis .txt {
  color: #fff;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .foot .button-main.bgc-1 {
  background: #fff;
  color: #0066a1;
}
.owl-carousel-pp1 .card-box {
  min-height: 450px;
}
.owl-carousel-pp1 .owl-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.owl-carousel-pp1 .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 5px;
  background-color: rgba(0, 102, 161, 0.2);
}
.owl-carousel-pp1 .owl-dots .owl-dot.active {
  background-color: #0066a1;
}

.owl-carousel-pp2 .owl-item.active.center .card-box {
  background-color: #fff;
}
.owl-carousel-pp2 .owl-item.active.center .card-box .head .c-blue {
  color: #e45e27;
}
.owl-carousel-pp2 .owl-item.active.center .card-box .head .c-lightblue {
  color: rgba(228, 94, 39, 0.7);
}
.owl-carousel-pp2 .owl-item.active.center .card-box .foot .button-main.bgc-1 {
  background: #e45e27;
  color: #fff;
}
.owl-carousel-pp2 .card-box {
  min-height: 490px;
}
.owl-carousel-pp2 .owl-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.owl-carousel-pp2 .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 5px;
  background-color: rgba(0, 102, 161, 0.2);
}
.owl-carousel-pp2 .owl-dots .owl-dot.active {
  background-color: #0066a1;
}

.card-box {
  position: relative;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 2px 12px rgba(206, 206, 206, 0.44);
  padding: 30px 30px 100px 30px;
  background-color: #fff;
}
.card-box .show {
  position: absolute;
  top: -22px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  color: #fff;
}
.card-box .show1 {
  top: 22px;
  border-radius: 0 0 10px 10px;
}
.card-box .head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card-box .head .txt {
  font-size: 50px;
}
.card-box .body .list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card-box .body .list li .txt {
  display: flex;
  align-items: center;
}
.card-box .body .list li.dis {
  opacity: 0.7;
}
.card-box .body .list li.dis .txt {
  color: #7f828a;
}
.card-box .body .list li.dis .icon svg path {
  fill: #e2e5ed;
}
.card-box .foot {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 30px;
}

.img-wrap {
  overflow: hidden;
  border-radius: 12px;
}

.img-w1 {
  width: calc(58.5% - 12px);
  margin-right: 12px;
}

.img-w2 {
  width: calc(41% - 12px);
  margin-left: 12px;
}

.img-w3 {
  width: calc(31.5% - 12px);
  margin-right: 12px;
}

.img-w4 {
  width: calc(67.5% - 12px);
  margin-left: 12px;
}

.timeline-list {
  display: block;
}
.timeline-list ul {
  display: flex;
  position: relative;
  padding-right: 40px !important;
}
.timeline-list ul li .date {
  font-size: 30px;
}
.timeline-list ul li .line_between {
  width: 100%;
  height: 1px;
  background-color: #989898;
  position: relative;
  margin: 10px 0 20px 0;
}
.timeline-list ul li .line_between::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #0066a1;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.timeline-list ul li p {
  padding-right: 20px;
}
.timeline-list ul::before {
  content: "";
  width: 40px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-3%, 0);
  z-index: 1;
  background-image: url("../../assets/img/icon/icon-flag.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.timeline-list-m {
  display: none;
}
.timeline-list-m ul {
  position: relative;
  padding-top: 60px !important;
  padding-left: 10px !important;
}
.timeline-list-m ul li {
  border-left: 1px solid #989898;
  position: relative;
  padding-left: 15px;
}
.timeline-list-m ul li .line_between::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #0066a1;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  top: 12px;
  left: -5px;
}
.timeline-list-m ul::before {
  content: "";
  width: 40px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-3%, 0%);
  z-index: 1;
  background-image: url("../../assets/img/icon/icon-flag.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-box {
  position: relative;
}
.img-box::before {
  content: "";
  width: 400px;
  height: 340px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translate(10%, 10%);
  background-color: #0066a1;
}

.pagination-p .page-item .page-link {
  width: 40px;
  height: 40px;
  border-radius: 100% !important;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000b33;
}
.pagination-p .page-item .page-link:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}
.pagination-p .page-item.active .page-link {
  background-color: #0066a1;
  color: #fff;
  border-color: #0066a1;
}

.button-group {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-group .button {
  width: auto;
  min-width: 100px;
  background-color: transparent;
  border-radius: 100px;
  padding: 10px 5px;
  margin: 5px;
  color: #1d263a;
  border: none;
  font-family: "SukhumvitSet-Medium";
}
.button-group .button.is-checked {
  background-color: #0066a1;
  color: #fff;
}

.card-vc {
  height: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s;
  box-shadow: 0 2px 12px rgba(206, 206, 206, 0.44);
  overflow: hidden;
}
.card-vc .img img {
  transition: all 0.3s;
}
.card-vc .txt-vc {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.card-vc .txt-vc p {
  font-size: 14px;
  text-transform: uppercase;
}
.card-vc .box-cc {
  width: 50px;
  min-width: 50px;
  height: 50px;
  transition: all 0.3s;
}
.card-vc .box-cc:hover {
  background: #0066a1 !important;
}
.card-vc .box-cc:hover svg path {
  fill: #fff;
}
.card-vc:hover .img img {
  filter: blur(5px);
  transform: scale(1.2);
}

.card-port {
  height: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 20px;
  background: linear-gradient(180deg, #f2f4f7 0%, #ffffff 100%);
  position: relative;
  padding: 10px 10px 80px 10px;
  transition: all 0.3s;
}
.card-port .img {
  margin: 0 auto;
  display: block;
}
.card-port .img img {
  width: auto;
  height: 300px;
  margin: 0 auto;
  transition: all 0.3s;
}
.card-port .txt {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 20px;
}
.card-port .txt h3 {
  color: #000;
}
.card-port:hover {
  box-shadow: 0 2px 12px rgba(206, 206, 206, 0.44);
  border-color: #f2f4f7;
}
.card-port:hover .img img {
  transform: scale(1.2);
}

.content-owp .box-owp {
  width: 100%;
  max-width: 700px;
  padding: 50px;
  margin-left: auto;
}

.acc-box .accordion .accordion-button::after {
  position: absolute;
  right: 30px;
  top: 35px;
}
.acc-box .accordion .accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}
.acc-box .accordion .accordion-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px 30px;
  cursor: pointer;
}
.acc-box .accordion .accordion-item .box-acc {
  width: calc(100% - 70px);
  margin-left: 20px;
}
.acc-box .accordion .accordion-item .accordion-header {
  height: 50px;
  display: flex;
  align-items: center;
  font-family: "SukhumvitSet-Bold";
  color: rgba(0, 11, 51, 0.8);
  font-size: 20px;
  padding: 5px 0 5px 0;
}
.acc-box .accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 0;
  color: rgba(0, 11, 51, 0.8);
}

.box-sc {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.box-sq {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.box-bg-owp {
  width: 100%;
  height: 100%;
  min-height: 700px;
}

.img-logo-lw {
  width: 180px;
}

.nav-tabs-ws {
  border: none !important;
  justify-content: space-between;
}
.nav-tabs-ws .nav-link.active {
  background-color: #e45e27 !important;
  position: relative;
}
.nav-tabs-ws .nav-link.active::before {
  content: "";
  width: 24px;
  height: 15px;
  position: absolute;
  bottom: -13px;
  left: 50%;
  margin-left: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid #e45e27;
  transition: all 0.3s;
}
.nav-tabs-ws .nav-link {
  width: calc(25% - 2px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0066a1 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 15px 5px;
  transition: all 0.3s;
}
.nav-tabs-ws .nav-link .icon {
  margin-right: 10px;
}
.nav-tabs-ws .nav-link:hover {
  background-color: #e45e27 !important;
}
.nav-tabs-ws .nav-link:first-child {
  border-radius: 5px 0 0 5px !important;
}
.nav-tabs-ws .nav-link:last-child {
  border-radius: 0 5px 5px 0 !important;
}

.owl-carousel-lw .owl-item.active.center .mockup-p::before {
  display: block;
}
.owl-carousel-lw .owl-item .mockup-p {
  position: relative;
}
.owl-carousel-lw .owl-item .mockup-p .img {
  padding: 17px;
}
.owl-carousel-lw .owl-item .mockup-p::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 9;
  background-image: url("../../assets/img/mockup-ipx.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.owl-carousel-lw .owl-dots,
.owl-carousel-lw .owl-dots.disabled {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.owl-carousel-lw .owl-dots .owl-dot,
.owl-carousel-lw .owl-dots.disabled .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 5px;
  background-color: rgba(0, 102, 161, 0.2);
}
.owl-carousel-lw .owl-dots .owl-dot.active,
.owl-carousel-lw .owl-dots.disabled .owl-dot.active {
  background-color: #0066a1;
}

.footer {
  background-color: #0066a1;
  padding: 70px 0;
}
.footer .img-logo-f {
  width: 140px;
}

.txt-f-link {
  transition: all 0.3s;
}

.contact-form {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.contact-form .form-control {
  background-color: #f0f5f7 !important;
  border: none;
  border-radius: 10px;
}

.box-cc {
  background-color: rgba(65, 111, 244, 0.16);
  border-radius: 100%;
  width: 40px;
  min-width: 40px;
  height: 40px;
}
.box-cc svg {
  width: 20px;
  height: 20px;
}

.txt-f li {
  margin-bottom: 10px;
}
.txt-f li .txt-f-link {
  color: #fff;
  transition: all 0.3s;
}
.txt-f li a.txt-f-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.ms-box-sq {
  margin-left: -25px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}
.footer-list .footer-item {
  width: 25%;
  padding: 20px 20px 20px 0;
}
.footer-list .footer-item .txt-contact .txt-contact-l {
  display: flex;
}
.footer-list .footer-item-m {
  width: 16%;
}
.footer-list .footer-item:first-child {
  padding-left: 0;
  padding-right: 40px;
}

.bg-b {
  position: relative;
}
.bg-b::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.btn_view {
  border-bottom: 2px solid #416ff4;
  color: #416ff4;
  display: inline-block;
  transition: all 0.3s;
}
.btn_view:hover {
  color: #0066a1;
  border-color: #0066a1;
}

.team_box {
  height: 100%;
}
.team_box .img-wrap {
  border-radius: 6px;
  display: block;
}
.team_box .img-wrap img {
  transition: all 0.4s;
}
.team_box .txt {
  margin-bottom: 1rem;
}
.team_box .txt h3 {
  font-size: 24px;
}
.team_box .txt .c-dark,
.team_box .txt .c-gray {
  transition: all 0.3s;
}

a.team_box:hover .img-wrap img {
  transform: scale(1.1);
}
a.team_box:hover .txt .c-dark,
a.team_box:hover .txt .c-gray {
  color: #0066a1;
}

.bg-dm {
  background-image: url("../../assets/img/bg-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-op {
  position: relative;
}
.bg-op .box-sq {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}
.bg-op .box-sq1 {
  left: -5%;
  top: 15%;
  transform: rotate(-11deg);
}
.bg-op .box-sq2 {
  right: 7%;
  top: 7%;
  transform: rotate(22deg);
}
.bg-op::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translate(10%, -12%);
  width: 400px;
  height: 300px;
  background-color: #d7ebfe;
  border-radius: 12px;
}
.bg-op::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translate(-25%, 10%);
  width: 200px;
  height: 300px;
  background-image: url("../../assets/img/img-ist4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-vc {
  position: relative;
}
.bg-vc::before {
  content: "";
  width: 360px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  border-radius: 90px;
  background-color: #e3ebf2;
}

.box_shadow {
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.button-fixed {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -40%);
}
.button-fixed .button-main {
  position: relative;
  z-index: 1;
}
.button-fixed::before {
  content: "";
  position: absolute;
  width: 450px;
  height: 300px;
  background-image: url("../../assets/img/img-banner3-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 120px;
  z-index: 0;
  transform: translate(0%, 0%);
}
.button-fixed::after {
  content: "";
  position: absolute;
  width: 450px;
  height: 200px;
  background-image: url("../../assets/img/img-banner3-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 140px;
  z-index: 0;
  transform: translate(0%, 0%);
}

.bg-vc1 .box-sc {
  position: absolute;
  bottom: 50%;
  left: 10%;
  transform: translate(60%, 80%);
}
.bg-vc1::before {
  transform: translate(-65%, -50%);
}

.bg-vc2 .box-sc {
  position: absolute;
  bottom: 50%;
  right: 40%;
  transform: translate(90%, 90%);
}
.bg-vc2::before {
  transform: translate(-35%, -50%);
}

.img-vc {
  position: absolute;
  width: 100%;
  max-width: 980px;
  top: 50%;
  left: 48%;
  z-index: 0;
  transform: translate(-50%, -57%);
}

.card-dm {
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(153, 153, 153, 0.08);
}

.content-cb {
  clear: both;
  display: inline-block;
}
.content-cb .box-htp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 15px 10px;
  box-shadow: 0 12px 30px rgba(31, 31, 31, 0.13);
}
.content-cb .box-htp input {
  width: 100px;
  border-bottom: 1px solid #c7c7c7 !important;
  border: none;
}
.content-cb .box-www {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.content-cb .box-www input {
  width: 100px;
  border-bottom: 5px solid #ffffff !important;
  border: none;
  background-color: transparent;
  color: #fff;
  margin-bottom: 10px;
}
.content-cb .img-mu-box {
  height: 400px;
}
.content-cb .dm-box {
  width: 50%;
  height: 100%;
  position: relative;
}
.content-cb .dm-box .txt {
  width: 80%;
}
.content-cb .dm-box .img-mu {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.content-cb .f-dm-l {
  float: left;
}
.content-cb .f-dm-r {
  float: right;
}

.accordion-yq .accordion-item {
  border-radius: 5px;
  border: 1px solid #e5e5e5 !important;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f8fafc;
}
.accordion-yq .accordion-item .accordion-button {
  border-radius: 5px;
  color: #0d152e !important;
  border: none !important;
  box-shadow: none;
  background-color: #fff;
}
.accordion-yq .accordion-item .accordion-button:not(.collapsed) {
  background-color: #f8fafc;
}
.accordion-yq .accordion-item .accordion-collapse .accordion-body {
  padding-top: 0;
}

.icon-op {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-saying {
  box-shadow: 0 4px 30px rgba(43, 89, 255, 0.08);
  border-radius: 10px;
  position: relative;
}
.owl-saying .item {
  border-radius: 10px;
}
.owl-saying .owl-dots {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-saying .owl-dots .owl-dot.active {
  opacity: 1;
}
.owl-saying .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #0066a1;
  opacity: 0.2;
  margin: 5px;
}

.op-list {
  margin-top: 2rem;
}
.op-list li {
  display: flex;
  margin-top: 1.5rem;
}
.op-list li .number {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #0066a1;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.op-list li .txt-op {
  width: calc(100% - 55px);
  margin-left: 15px;
}

.bg-dk {
  position: relative;
}
.bg-dk::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 600px;
  height: 600px;
  transform: translate(5%, 20%);
  background-image: url("../../assets/img/bg-code.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-sy {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 50px;
}
.card-sy::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 0;
  width: 100px;
  height: 100px;
  background-image: url("../../assets/img/icon-icomment.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card-sy .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.card-sy .box .img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}
.card-sy .box .txt {
  padding: 10px 20px;
}

.cc-box-wrap {
  width: 100%;
  height: 400px;
  position: absolute;
  overflow: hidden;
}

.cc-box {
  border-radius: 100%;
  position: absolute;
}

.cc-box.cc-box1 {
  width: 220px;
  height: 220px;
  top: 0;
  right: 0;
  z-index: 0;
  transform: translate(50%, -50%);
}

.cc-box.cc-box2 {
  width: 180px;
  height: 180px;
  top: 50%;
  left: 0;
  z-index: 0;
  transform: translate(30%, -50%);
}

.cc-box.cc-box3 {
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 0;
  transform: translate(0%, 0%);
}

.txt-ab {
  font-size: 20px;
}

@keyframes zoomm {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.txt-20 {
  font-size: 20px;
}

.txt-32 {
  font-size: 32px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .header .menu-h-list .menu-item .menu-link {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  .button-main {
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  footer .footer-list .footer-item .txt-f li .txt-f-link {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1199px) {
  .menu-icon {
    display: block;
  }
  .header .menu-h-list {
    display: none;
  }
  .menu-m-list {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  .footer .footer-list {
    flex-wrap: wrap;
  }
  .footer .footer-list .footer-item {
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  .footer .footer-list .footer-item .img-logo-f {
    margin: 0 auto;
  }
  .footer .footer-list .footer-item .txt-f {
    text-align: center;
  }
  .footer .footer-list .footer-item .txt-contact {
    display: flex;
  }
  .footer .footer-list .footer-item .txt-contact li {
    width: 33.33%;
  }
  .footer .footer-list .footer-item .txt-contact li .txt-contact-l {
    display: block;
  }
  .footer .footer-list .footer-item .txt-contact li .txt-contact-l .box-cc {
    margin: 0 auto 15px auto;
  }
  .footer .footer-list .footer-item:first-child {
    padding: 20px 15%;
  }
  .footer .footer-list .footer-item-m {
    width: 33.33%;
  }
  .img-box::before {
    width: 270px;
    height: 250px;
  }
  .content-owp .box-owp {
    margin: 0 auto;
  }
  .banner-s {
    height: 400px;
  }
  .banner-ht {
    height: 400px;
  }
  .banner-ht .txt {
    transform: translate(-50%, -30%);
  }
  .banner-ht .img {
    max-width: 440px;
  }
  .banner-ht .button-main {
    transform: translate(-50%, -50%);
  }
  .bg-vc::before {
    width: 230px;
    height: 270px;
  }
  .bg-vc1 .box-sc {
    bottom: 65%;
    left: -10%;
  }
  .bg-vc2 .box-sc {
    bottom: 65%;
    right: 40%;
  }
  .banner-ct {
    height: 300px;
  }
  .banner-ct .txt {
    max-width: 460px;
  }
  .carousel.slide .carousel-indicators button {
    height: 110px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .carousel.slide .carousel-indicators button .txt-icon {
    font-size: 12px;
  }
  .owl-carousel-lw .owl-item .mockup-p .img {
    padding: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .txt-l {
    font-size: 50px;
  }
  .banner {
    height: 700px;
  }
  .content-cb .dm-box .txt {
    width: 100%;
  }
  .txt-op-m h5 {
    font-size: 18px;
  }
  .bg-op::before {
    content: "";
    transform: translate(10%, -10%);
    width: 200px;
    height: 200px;
  }
  .bg-op::after {
    content: "";
    transform: translate(-20%, 10%);
    width: 100px;
    height: 200px;
  }
  .bg-dk::before {
    width: 400px;
    height: 400px;
  }
  .nav-tabs-ws .nav-link p {
    font-size: 14px;
  }
  .card-port .img img {
    height: 180px;
  }
  .txt-32 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .header .wrap .button-main {
    display: none;
  }
  .banner {
    height: 520px;
  }
  .banner .txt {
    top: 25%;
  }
  .carousel.slide .carousel-indicators button.active {
    border-radius: 10px 10px 0 0;
  }
  .carousel.slide .carousel-control-prev {
    left: -10px;
  }
  .carousel.slide .carousel-control-next {
    right: -10px;
  }
  .carousel.slide .carousel-indicators button {
    height: 80px;
  }
  .carousel.slide .carousel-indicators button .box-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
  }
  .carousel.slide .carousel-indicators button .txt-icon {
    font-size: 10px;
    margin-top: 5px;
  }
  .banner-ct .txt {
    color: #fff;
  }
  .banner-ct .txt h1 {
    font-size: 22px;
  }
  .banner-ct .txt .c-blue {
    color: #fff;
  }
  .banner-ct::before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .banner-s .txt h1,
  .banner-ht .txt h1 {
    font-size: 22px;
  }
  .banner-s .img-ma,
  .banner-ht .img-ma {
    width: 25%;
  }
  .card-port .img.img-port img {
    width: 100%;
    height: auto;
  }
  .button-group .button {
    min-width: auto;
    font-size: 14px;
  }
  .contact-form {
    position: relative;
    margin-bottom: 2rem;
  }
  .content-cb .dm-box .img-mu {
    width: 90%;
    max-width: 230px;
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -60%);
  }
  .bg-op .box-sq1 {
    left: -2%;
  }
  .bg-op::before {
    content: "";
    transform: translate(4%, -7%);
    width: 200px;
    height: 200px;
  }
  .bg-op::after {
    content: "";
    transform: translate(-10%, 7%);
    width: 100px;
    height: 200px;
  }
  .box-search {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .box-search .box-slt {
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 10px;
  }
  .box-search .box-slt .box-inp {
    padding: 10px;
  }
  .box-bg-owp {
    min-height: 340px;
  }
  .img-w1 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .img-w2 {
    width: 100%;
    margin-left: 0;
  }
  .img-w3 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .img-w4 {
    width: 100%;
    margin-left: 0;
  }
  .img-box::before {
    width: 330px;
    height: 300px;
    right: -2px;
    transform: translate(3%, 6%);
  }
  .content-owp .box-owp {
    padding: 50px 12px;
  }
  .owl-carousel-lw .owl-item .mockup-p .img {
    padding: 20px;
  }
  .content-abu {
    padding-top: 0;
  }
  .content-abu::before {
    content: "";
    width: 100%;
    height: 80%;
    top: auto;
    bottom: 0;
    transform: translate(0, 0);
    border-radius: 0;
  }
  .ms-box-sq {
    margin-left: -10px;
  }
  .txt-l {
    font-size: 34px;
    line-height: 1.2 !important;
  }
  .content-cb .dm-box {
    width: 100%;
  }
  .content-cb .dm-box .txt {
    width: 100%;
  }
  .bg-dk::before {
    width: 350px;
    height: 350px;
    transform: translate(0%, 15%);
  }
  .nav-tabs-ws .nav-link {
    display: block;
  }
  .nav-tabs-ws .nav-link .icon {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .nav-tabs-ws .nav-link p {
    display: block;
    font-size: 10px;
  }
  .footer .footer-list .footer-item {
    width: 100%;
  }
  .footer .footer-list .footer-item .txt-contact {
    flex-wrap: wrap;
  }
  .footer .footer-list .footer-item .txt-contact li {
    width: 100%;
  }
  .footer .footer-list .footer-item:first-child {
    padding: 20px 0;
  }
  .timeline-list {
    display: none;
  }
  .timeline-list-m {
    display: block;
  }
  .team_box .txt h3 {
    font-size: 18px;
  }
  .txt-32 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 550px) {
  .box-search .box-slt {
    width: 100%;
    border-bottom: 1px solid #eaeced;
  }
}
@media only screen and (max-width: 360px) {
  .button-group .button {
    min-width: auto;
    font-size: 10px;
    margin: 3px;
  }
  .box-subscribe {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .box-subscribe .box-slt {
    width: 100%;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 24px;
    box-shadow: 0 31px 40px rgba(170, 170, 170, 0.15);
  }
  .box-subscribe .box-slt .box-inp {
    padding: 10px;
  }
  .box-subscribe .box-slt .box-inp input {
    text-align: center;
  }
  .carousel.slide .carousel-indicators button {
    height: auto;
    padding-bottom: 10px;
  }
  .carousel.slide .carousel-indicators button .box-icon {
    width: 30px;
    height: 30px;
  }
  .carousel.slide .carousel-indicators button .txt-icon {
    display: none;
  }
}
@media only screen and (max-width: 290px) {
  .img-box::before {
    width: 250px;
    height: 230px;
  }
  .card-port .img img {
    height: 220px;
  }
  .bg-dk::before {
    width: 270px;
    height: 270px;
    transform: translate(0%, 20%);
  }
  .banner-s,
  .banner-ht {
    height: 330px;
  }
  .nav-tabs-ws .nav-link .icon {
    margin-right: 0;
  }
  .nav-tabs-ws .nav-link p {
    display: none;
  }
  .bg-vc::before {
    width: 170px;
    height: 190px;
    border-radius: 30px;
  }
  .banner {
    height: 420px;
  }
  .txt-32 {
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */